@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto+Condensed&family=Rubik&display=swap");
@font-face {
  font-family: "Pricedown";
  src: url("pricedow.ttf") format("truetype");
}

body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  width: 100%;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

header {
  margin: 0px;
  padding: 0px;
  display: flex;
  height: 9%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid #f0e3be;
  align-items: center;
  justify-content: center;
}

header > nav {
  height: 100%;
  display: flex;
}

#header-img {
  display: none;
}

.lista {
  padding: 0px;
  margin: 0px;
  position: relative;
  height: 100%;
  display: inline-flex;
  width: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.lista li {
  display: grid;
  align-items: center;
}

.button {
  height: 65px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}

.button:hover {
  background-color: #ffffff;
}

.button:not(:last-child) {
  border-right: 1px solid #f0e3be;
}

.submenu {
  display: none;
}

li:hover .submenu {
  position: absolute;
  list-style: none;
  left: 0%;
  background-color: #000000;
  border: 1px solid #f0e3be;
  display: flex;
  gap: 20px;
  top: 100%;
  width: 100%;
  height: 90%;
  justify-content: center;
}

.submenu li {
  color: #ffffff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Rubik", sans-serif;
  position: relative;
  top: 0%;
}


.submenu li a:hover {
  color: aqua;
  cursor: pointer;
}

.lista img {
  height: 50%;
  position: relative;
  top: 0%;
}

main {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  margin: 0 auto;
}

.mw-headline{
  color:rgb(255, 246, 218);
}

.game_logo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.game_logo img {
  width: 300px;
}

.logo {
  display: flex;
  justify-content: left;
}

.logo img {
  width: 195px;
}

#indice {
  width: fit-content;
  background-color: #000000;
  padding: 10px;
  text-align: left;
  border-radius: 15px;
  display: none;
}

h1 {
  text-align: center;
}

main h2 {
  border-bottom: 1px solid #f0e3be;
}

.themesong {
  width: fit-content;
  display: grid;
  justify-items: center;
  /* align-items: center; */
  margin: 0 auto;
  margin-bottom: 30px;
}


.laranja {
  background-color: #000000;
  border: 1px solid #f0e3be;
  width: fit-content;
  position: relative;
  display: inline-block;
  width: fit-content;
  margin: 10px;
}

.indice-header {
  border-bottom: 1px solid #f0e3be;
  display: flex;
  width: 100%;
  padding: 6px;
  height: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.laranja .indice-header h2 {
  width: 68%;
  color: #ffffff;
  position: relative;
  border: none;
  font-weight: 500;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  padding-right: 6%;

}

button {
  outline: none;
  border-left: 1px solid red;
  border-right: 1px solid red;
  background-color: rgba(0, 0, 0, 0);
}

.indice-conteudo {
  display: block;
}

.indice-header.highlight {
  border: none;
  width: 200px;
  padding-left: 5px;
}

.indice-conteudo.highlight {
  display: none;
}

.laranja button:active {
  color: #abeeab;
}

#indice_button.highlight {
  border-left: 1px solid #abeeab;
  border-right: 1px solid #abeeab;
}

.laranja ol {
  margin-top: 5px;
  padding: 5px;
  list-style: none;
}

.laranja ol li ol {
  margin-top: -10px;
  padding-left: 8px;
}

.laranja ol li a {
  text-decoration: none;
  width: 100%;
  border-radius: 3px;
  display: block;
  line-height: 1.75;
  padding: 0px 6px;
}

.laranja span {
    color: #b3b3b3;
  }

.laranja ol li a:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #abeeab;
}


.laranja ol li a:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: #abeeab;
}


.imagens-jp {
  background-color: black;
  margin: 0 auto;
  border: 1px solid #f0e3be;
  display: grid;
}

.imagens-jp img {
  width: 100%;
  border-bottom: 1px solid #f0e3be;
}

.caption {
  margin: 0px;
  margin-top: 0px;
  padding: 5px;
}

#gallery-0 {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin: 0 auto;
  justify-content: center;
}

#gallery-0 .imagens-jp {
  background-color: black;
  width: 202px;
}

#gallery-0 .imagens-jp img {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center img {
  border-radius: 5px;
  width: 60%;
}

.sticky-element button{
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sticky-element {
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px solid #9aeb9a;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  /* height: 100%; */
  position: fixed;
  /* top: 0; */
  /* text-align: center; */
  z-index: 1; 
  right: 0;
}

.sticky-element:hover{
  background-color: #9aeb9a;
  border-color: black;
}

.sticky-element:hover button{
  color: black;
}

footer {
  width: 100%;
  margin: 0 auto;
  border-top: 5px solid #f0e3be;
  background-color: rgba(0, 0, 0, 0.9);
}

footer ul {
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  padding-bottom: 15px;
}

main p, i, li{
  font-size: 17px;
}

main li{
  padding: 3px;
}



@media screen and (max-width: 1270px) {
  .logo {
    margin-top: 50px;
  }
}


@media screen and (max-width: 830px) {
  .lista img {
    height: 45%;
  }
  
  .sticky-element button{
    color: #9aeb9a;
    padding: 5px;
  }

  .sticky-element {
    background-color: #0d1119;
    top: 125px;
  }
}

@media screen and (max-width: 750px) {

  .logo{
    margin-top: 0px;
  }

  .button:hover {
    background-color: black;
  }

  header > nav {
    width: 100%;
    margin-right: 0px;
  }

  .lista {
    display: block;
    margin-bottom: 0%;
    border: none;
  }

  .lista li {
    display: grid;
    border: none;
    margin-top: 0%;
    height: fit-content;
    align-items: flex-start;
    align-items: center;
  }

  .button {
    border-bottom: 1px solid #f0e3be;
  }

  .button:first-child {
    border-top: none;
  }

  .button:not(:last-child) {
    border-right: none;
  }

  .lista img {
    padding-right: 1%;
    margin: 0 auto;
    height: 50%;
    position: relative;
    top: 0%;
  }

  .button:hover .submenu {
    padding: 10px;
    padding-right: 2%;
    border: none;
    top: 0px;
    position: relative;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0);
    width: fit-content;
    margin: 0 auto;
    margin-top: -20px;
    display: table-cell;
    text-align: center;
  }

  .submenu li {
    padding-bottom: 10%;
    left: 5px;
  }
}

@media screen and (max-width: 540px) {
  .themesong {
    text-align: center;
  }
  .themesong p {
    width: 104%;
  }
}

@media screen and (max-width: 420px) {
  .logo {
    justify-content: center;
  }
}

@media screen and (max-width: 355px) {
  .gun-pic img {
    height: 260px;
    width: 280px;
  }
  .logo img {
    width: 100%;
  }
  .laranja {
    width: 294px;
    margin-left: -11px;
  }
}

@media screen and (max-width: 340px) {
  h1 {
    font-size: 29px;
  }
}
